OmegaT/ja/omegat/*.bak
OmegaT/ja/omegat/last_entry.properties
OmegaT/ja/omegat/project_stats.txt
OmegaT/ja/ja-level1.tmx
OmegaT/ja/ja-level2.tmx
OmegaT/ja/ja-omegat.tmx
OmegaT/ja/omegat/project_save.tmx
OmegaT/ja/omegat/files_order.txt
